.createdBy{
    font-size: 1.2em;
    position: relative;
    color: white;
    background-color: orangered;
    display: inline-block;
    padding:0 5px 0 5px;
    margin-top: 5px;

}

.createdDate{
    font-size: 1.2em;
    position: relative;
    color: white;
    background-color: #838383;
    display: inline-block;
    padding:0 5px 0 5px;
    margin-top: 5px;

}

.issueStatusOpen{
    font-size: 1.2em;
    position: relative;
    color: white;
    background-color: #22C13B;
    display: inline-block;
    padding:0 5px 0 5px;
    margin-top: 5px;

}

.issueStatusClosed{
    font-size: 1.2em;
    position: relative;
    color: white;
    background-color: #061901;
    display: inline-block;
    padding:0 5px 0 5px;
    margin-top: 5px;

}

.issueTypeBug{
    font-size: 1.2em;
    position: relative;
    color: white;
    background-color: #FF1B00;
    display: inline-block;
    padding:0 5px 0 5px;
    margin-top: 5px;

}

.issueTypeModification{
    font-size: 1.2em;
    position: relative;
    color: white;
    background-color: #FFDA28;
    display: inline-block;
    padding:0 5px 0 5px;
    margin-top: 5px;

}

.issueTypeFeature{
    font-size: 1.2em;
    position: relative;
    color: white;
    background-color: #0BBF4B;
    display: inline-block;
    padding:0 5px 0 5px;
    margin-top: 5px;

}

.issueDescription{
    font-size: 1.2em;
    color:#010000;
    word-wrap: normal;

}

.addNewProject{
    font-size: 1.2em;
    color:#FF481F;
}

.issue-status{
    background-color: #D8DCDD;


}