<html xmlns:th="http://www.thymeleaf.org">
<head th:include="wireframe :: header">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div th:include="wireframe :: topNavBar">
    </div>
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <div th:include="wireframe :: sidebar">
    </div>
</div>
<link th:href="@{/resources/css/datatables.min.css}" href="/resources/css/datatables.min.css" rel="stylesheet"/>
<script th:src="@{/resources/js/datatables.min.js} " src="/resources/js/datatables.min.js"></script>

<link th:href="@{/resources/css/chosen.css}" href="/resources/css/chosen.css" rel="stylesheet"/>
<script th:src="@{/resources/js/chosen.jquery.js} " src="/resources/js/chosen.jquery.js"></script>
<script th:src="@{/resources/js/page/addProject.js} " src="/resources/js/page/addProject.js"></script>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="col-lg-12">

        <div class="row">
            <div class="form-group">
                &nbsp;
                &nbsp;
            </div>
            <div id="addProject">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Add New Project
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <form id="newProject" th:object="${projectDto}">

                                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12  col-lg-offset-1">
                                    <div class="form-group">
                                        <div class="bmd-field-group">
                                            <input name="name" id="name" required=""
                                                   class="bmd-input" type="text" th:field="${projectDto.name}" maxlength="50"/>
                                            <span class="bmd-bar"></span>
                                            <label class="bmd-label">Project Title</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12  col-lg-offset-1">

                                    <div class="form-group">
                                        <div class="bmd-field-group">
                                            <textarea id="description"  name="description" required="" class="bmd-textarea" th:field="${projectDto.description}" rows="8" maxlength="5000"></textarea>
                                            <span class="bmd-bar"></span>
                                            <label class="bmd-label">Project Description</label>
                                        </div>
                                      </div>

                                </div>

                                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 col-lg-offset-1">
                                    <div class="form-group">
                                        <label>Users</label>
                                        <select id="userSelect" name="userSelect"
                                                multiple="multiple" class="chosen-select" required="required">
                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-2">
                                    <div class="form-group">
                                        <button type="submit" id="submitButton"
                                                class="btn btn-primary pull-right"></button>
                                    </div>
                                    <input id="userList" type="hidden" th:value="${projectDto.userList}"
                                           style="display: none;"/>
                                    <input id="projectId" name="projectId" type="hidden" th:value="${projectDto.id}"
                                           style="display: none;"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" id="reload" value="Go back"
                   class="btn btn-success pull-right"/>
        </div>

    </div>
</div>
</body>
</html>