<html xmlns:th="http://www.thymeleaf.org">
<title>Manage Projects</title>
<head th:include="wireframe :: header">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div th:include="wireframe :: topNavBar">
    </div>
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <div th:include="wireframe :: sidebar">
    </div>
</div>
<link th:href="@{/resources/css/bootstrap-select.css}" href="/resources/css/bootstrap-select.css" rel="stylesheet" />
<script th:src="@{/resources/js/bootstrap-select.js} " src="/resources/js/bootstrap-select.js"></script>
<script th:src="@{/resources/js/page/project.js} " src="/resources/js/page/project.js"></script>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="col-lg-12">

        <div class="row">
            <div id ="addProject">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Add New Project
                        </div>
                     </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <form id ="newProject">

                                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-2">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input name="name" class="form-control" placeholder="Enter project Name"/>
                                    </div>
                                </div>

                                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-2">

                                    <div class="form-group">
                                        <label>Description</label>
                                        <input name="description" class="form-control" placeholder="Enter project description "/>
                                    </div>

                                </div>

                                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-2">
                                    <div class="form-group">
                                        <label>Users</label>
                                        <select id ="userSelect" multiple="multiple">
                                        </select>
                                    </div>
                                    </div>


                                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-2">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary pull-right">Add New Project</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

</body>
</html>