<html xmlns:th="http://www.thymeleaf.org">
<title>Manage Projects</title>
<head th:include="wireframe :: header">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div th:include="wireframe :: topNavBar">
    </div>
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <div th:include="wireframe :: sidebar">
    </div>
</div>
<link th:href="@{/resources/css/datatables.min.css}" href="/resources/css/datatables.min.css" rel="stylesheet"/>
<script th:src="@{/resources/js/datatables.min.js} " src="/resources/js/datatables.min.js"></script>

<link th:href="@{/resources/css/chosen.css}" href="/resources/css/chosen.css" rel="stylesheet"/>
<script th:src="@{/resources/js/chosen.jquery.js} " src="/resources/js/chosen.jquery.js"></script>
<script th:src="@{/resources/js/page/project.js} " src="/resources/js/page/project.js"></script>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="col-lg-12">

        <div class="row">

            <div id="projectBlock">

                <div id="datatable">
                    <div class="form-group">
                        &nbsp;
                        &nbsp;
                    </div>
                    <div class="panel panel-default">

                        <div class="panel-body">
                            <div class="row col-sm-2 col-lg-2 col-md-2">
                                <div style="font-size: 1.8em;">Projects
                                </div>
                            </div>
                            <div class="row col-sm-10 col-lg-10 col-md-10">
                                <button id="addProject" class="btn btn-success">Add new Project</button>
                            </div>
                            <table id="projectTable" class="table table-striped " cellspacing="0"
                                   width="100%">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Created on</th>
                                    <th>Updated on</th>
                                    <th>Users</th>
                                    <th>Edit</th>
                                    <th>Manager</th>
                                    <th>View Issues</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Created on</th>
                                <th>Updated on</th>
                                <th>Users</th>
                                <th>Edit</th>
                                <th>Manager</th>
                                <th>View Issues</th>
                                </tfoot>
                            </table>

                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>
</div>

</body>
</html>