<html xmlns:th="http://www.thymeleaf.org">

<head th:include="wireframe :: header">
</head>
<body>
<link th:href="@{/resources/css/bootstrap-datetimepicker.css}" href="/resources/css/bootstrap-datetimepicker.css" rel="stylesheet" />

<script th:src="@{/resources/js/page/projectHome.js} " src="/resources/js/page/projectHome.js"></script>
<script th:src="@{/resources/js/bootstrap-datetimepicker.min.js} " src="/resources/js/bootstrap-datetimepicker.min.js"></script>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div th:include="wireframe :: topNavBar">
    </div>
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <div th:include="wireframe :: sidebar">
    </div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    <div class="col-lg-12">
        <div id ="projectBlock">

        <div class="row">
            <div class="col-lg-6">

                <h1 id="projectTitle"></h1>

                <p id="projectDescription"></p>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <h3>Manager</h3>

                        <p id ="manager">
                        </p>
                        <h3>Testers</h3>

                        <p id ="testers">
                        </p>
                        <h3>Developers</h3>

                        <p id ="developers">
                        </p>
                    </div>
                </div>
            </div>
        </div>
            <button id="addIssue" class="btn btn-default">Submit</button>
        </div>
    </div>

    <div id ="issueBlock">
        <div class="row col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2">

            <div class="panel panel-info">
                <div class="panel-body">

                        <form role="form" id="issue" method="post">

                            <div class="col-lg-12 col-md-6">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="title" id="title" placeholder="Enter Name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="tracker">Tracker</label>
                                    <div class="input-group">
                                        <select id ="tracker" multiple="multiple">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="description" name="description" placeholder="Enter description" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="assigned">Assigned to</label>
                                    <div class="input-group">
                                        <select id ="assigned" multiple="multiple">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="status">Status</label>
                                    <div class="input-group">
                                        <select id ="status" multiple="multiple">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Completion Date</label>
                                    <div class="input-group">
                                        <div class="input-append date completionDate">
                                            <input size="16" type="text" value="" readonly="readonly"/>
                                            <span class="add-on"><i class="icon-th"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="form-group">-->
                                    <!--<label for="district">District</label>-->
                                    <!--<div class="input-group">-->
                                        <!--<input type="text" class="form-control" name="district" id="district" placeholder="Enter district" />-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="form-group">-->
                                    <!--<label for="state">State</label>-->
                                    <!--<div class="input-group">-->
                                        <!--<input type="text" class="form-control" name="state" id="state" placeholder="Enter State" />-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="form-group">-->
                                    <!--<label for="pin">Pincode</label>-->
                                    <!--<div class="input-group">-->
                                        <!--<input type="text" class="form-control" name="pin" id="pin" placeholder="Enter pincode" />-->
                                    <!--</div>-->
                                <!--</div>-->

                                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right"/>
                            </div>
                        </form>

                </div>
            </div>
        </div>
        </div>
</div>


</body>
</html>