<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
           <link th:href="@{/resources/css/bootstrap.min.css}" href="/resources/css/bootstrap.min.css" rel="stylesheet" />
        <link th:href="@{/resources/css/datepicker3.css}" href="/resources/css/datepicker3.css" rel="stylesheet" />
        <link th:href="@{/resources/css/styles.css}" href="/resources/css/styles.css" rel="stylesheet" />
    <script>var contextPath = "${pageContext.request.contextPath}"</script>

        <!--Icons-->
        <script th:src="@{/resources/js/jquery-1.11.1.min.js} " src="/resources/js/jquery-1.11.1.min.js"></script>
        <script th:src="@{/resources/js/bootstrap.js}" src="/resources/js/bootstrap.js"></script>
    <script th:src="@{/resources/js/jquery.validate.js}" src="/resources/js/jquery.validate.js"></script>


</head>

<div th:fragment="topNavBar">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Jissue</span>Tracker</a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#"   class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> <span th:text=" ${session.userSession.user.name}"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
                        <li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>
                        <li><a href="/jit/logout"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>

    </div><!-- /.container-fluid -->


<div th:fragment="sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search"/>
        </div>
    </form>
    <ul class="nav menu">
          <li th:each="menu,iterStat : ${session.userSession.menuList}" class="parent">
            <a  href="">

                <span data-toggle="collapse" th:text = "${menu.name}" th:href="${'#sub-item-' + iterStat.count}"></span></a>
                        <ul class="children collapse" th:id="${'sub-item-' + iterStat.count}">
                <li th:each="submenu : ${menu.subMenuSet}">
                    <a class=""  th:text = "${submenu.name}" th:href="@{ | ${submenu.link} |}">
                    </a>
                </li>
             </ul>
        </li>
    </ul>
</div>
</html>